body {
	font-family: 'Work Sans', cursive;
	background-color: #ffffff;
	color: #2727e5;
	height:100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

a {
	color: #2727e5;
	text-decoration: none;

	/*border-bottom: 4px solid transparent;
	transition: border-bottom 0.5s;*/
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .3s;
}

/*a:hover {
	border-bottom-color: #2727e5;
}*/

a.top {
		position: fixed;
		z-index: 10;
		top: 20px;
		left: 50%;
		transform: translate(-50%,0);
}

a.left {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 20px;
	transform-origin: 0 0;
	transform: rotate(-90deg) translate(-50%,0);
}

a.right {
	position: fixed;
	z-index: 10;
	top: 50%;
	right: 20px;
	transform-origin: 100% 0;
	transform: rotate(90deg) translate(50%,0);
}

a.bottom {
	position: fixed;
	z-index: 10;
	bottom: 20px;
	left: 50%;
	transform: rotate(180deg) translate(50%,0);
}

section {
	width: auto;
	flex-direction: column;
	transition: transform .25s;
	will-change: transform;
}

h1{
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-style: normal;
	line-height: 1.0;
	margin: 0;
	padding: 0;

}

h2 {
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-style: normal;
	margin: 0;
	padding: 0;
}

span {
	position: absolute;
  right: 60px;
  top: -20px;
  text-align: right;
  transform: rotate(-90deg);
  transform-origin: center right;
	display: block;
}

.project-meta {
	position: relative;
	min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.project-single {
	padding-bottom: 100px;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}

.img-holder {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -999;
}
/*.box {
	height: 500px;

	border: 1px #fff solid;
	top: 50%;
	margin: 50% 0 50% 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	height:100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
	display: block;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
}
