body {
	font-family: 'Work Sans', cursive;
	background-color: #ffffff;
	color: #000000;
	height:100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

h1{
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-style: normal;
	line-height: 1.0;
	margin: 0;
	padding: 0;

}

h2 {
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-style: normal;
	margin: 0;
	padding: 0;
}

section {
	width: auto;
	flex-direction: column;
	transition: transform .50s;
	will-change: transform;
}

.project {
	padding: 100px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
