body {
	font-family: 'Archivo Black', cursive;
	background-color: #ffffff;
	height:100%;
	display: flex;
  align-items: center;
  justify-content: center;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased
}

img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}

section {
	margin: 30% 0 30% 0;
	width: auto;
	flex-direction: column;
	transition: transform .25s;
	will-change: transform;
}

h1{
	font-size: 90px;
	font-weight: 400;
	text-transform: uppercase;
	color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
	font-size: 40px;
	font-weight: 100;
	text-transform: ;
}

ul {
	text-align: center;
	list-style: none;
}

li {
	font-size: 90px;
	font-weight: 400;
	text-transform: uppercase;
	color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
	transition: all 0.2s ease;
}

li :hover {
	color: black;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
	transition: all 0.2s ease;
}

a:link {
    text-decoration: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  transition: all 0.5s ease;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.img {
	position: fixed;
  top: calc(50% + 6.25rem);
  right: 4rem;
  transform: translateY(-50%);
  mix-blend-mode: multiply;
  max-height: 80vh;
  width: auto;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  border-radius: 25px;
  transition: all 0.2s ease;

}

.project{
	cursor: url(../images/pointer.svg) 15 0,pointer;
	margin: 100px 0 100px 0;
	/*background-color: blue;*/
}

.project-row {
}

.number {
  text-align: right;
  transform: rotate(-90deg) translate(0,-50%);
	display: inline-block;
  vertical-align: top;
}

.project p {
	font-size: 20px;
	font-weight: 200;
}

/*.center {
	height:100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
	display: block;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
}
